name: Markdown Lint

on:
  push:
    branches: ["main"]
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.markdown'
      - '.markdownlint.json'
      - '.markdownlintignore'

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            **/*.md
            **/*.markdown
          separator: '---'
          config: '.markdownlint.json'
