name: Markdown Lint

on:
  push:
    branches: ["master"]
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.markdown'

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: |
            **/*.md
            **/*.markdown
            !node_modules
